---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<!-- 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

---
title: "Self-Disclosure and My Path"
excerpt: "A brief introduction about myself and my journey."
collection: portfolio
--- -->

**self-disclosure**
* I like photography, reading, travelling and making new friends.
* I like animals, especially hamsters and kitties.
* MBTI: mid-part of E and I, ESTJ :)

**My path to be a cross-major applier**

copy part of ps here


